<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:usesCleartextTraffic="false" android:allowBackup="true">
  <activity android:name=".CropActivity" android:theme="@style/CropTheme" android:screenOrientation="portrait" android:exported="false"/>
  <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
  <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true"><meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/></provider>
  <receiver android:name=".NhatKyWidgetProvider" android:label="@string/app_name" android:exported="false">
   <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
   <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
  </receiver>
 </application>
</manifest>
